<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <title>Rest API</title>
    <link href="/css/site.css" rel="stylesheet" />
</head>

<body>
    <%- include('partials/header.ejs') %>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <form method="POST" action="/api/card/put">
                        <div class="form-floating mb-3 mt-3">
                            <input class="form-control" name="CardId" id="CardId" placeholder="Идентификатор карточки"
                                autocomplete="off" />
                            <label for="CardId" class="control-label">Идентификатор карточки</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" name="Name" id="Name" placeholder="Название карточки"
                                autocomplete="off" />
                            <label for="Name" class="control-label">Название карточки</label>
                        </div>
                        <button class="btn btn-primary mb-3" type="submit">Отправить</button>
                        <button id="openFieldCards" class="btn btn-primary mb-3" type="button">Показать поля</button>
                        <button id="openFieldCardsDeduplicated" class="btn btn-primary" type="button">Показать поля с
                            дедупликацией</button>
                    </form>
                </div>
                <div class="col-4 scroll">
                    <div class="form-floating mb-3 mt-3">
                        <input class="form-control" id="fieldCardName" placeholder="Название поля карточки" autocomplete="off" />
                        <label for="fieldCardName" class="control-label">Название поля карточки</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="cardValue" placeholder="Значение поля карточки" autocomplete="off" />
                        <label for="cardValue" class="control-label">Значение поля карточки</label>
                    </div>
                    <div class="justify-content-between">
                        <div class="btn btn-success mb-3" id="add">Добавить поле</div>
                        <div class="btn btn-danger mb-3" id="delete">Удалить последнее поле</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field-card-container" id="duplication">
            <table class="table">
                <thead>
                    <tr>
                        <th>Название поля</th>
                        <th>Значение поля</th>
                        <th style="text-align: end;"><button type="button" class="btn-close"></button></th>
                    </tr>
                </thead>
                <tbody>
                    <% content.forEach(function(connectionTable) { %>
                        <% var value %>
                            <% if (connectionTable.FieldCard.DataType==='String' ) { %>
                                <%value=connectionTable.ValueString %>
                                    <% } else {value=connectionTable.ValueInteger} %>
                                        <tr class="link">
                                            <td id="<%= connectionTable.FieldCard.DataType %>">
                                                <%= connectionTable.FieldCardName %>
                                            </td>
                                            <td id="<%= value.Id %>">
                                                <%= value.Value %>
                                            </td>
                                            <td><input class="form-check-input" type="checkbox" /></td>
                                        </tr>
                                        <% }) %>
                </tbody>
            </table>
        </div>

        <div class="field-card-container" id="deduplication">
            <table class="table">
                <thead>
                    <tr>
                        <th>Название поля</th>
                        <th>Значение поля</th>
                        <th style="text-align: end;"><button type="button" class="btn-close"></button></th>
                    </tr>
                </thead>
                <tbody>
                    <% dedupticationTables.forEach(function(connectionTable) { %>
                        <% var value %>
                            <% if (connectionTable.FieldCard.DataType==='String' ) { %>
                                <%value=connectionTable.ValueString %>
                                    <% } else {value=connectionTable.ValueInteger} %>
                                        <tr class="link">
                                            <td id="<%= connectionTable.FieldCard.DataType %>">
                                                <%= connectionTable.FieldCardName %>
                                            </td>
                                            <td id="<%= value.Id %>">
                                                <%= value.Value %>
                                            </td>
                                            <td><input class="form-check-input" type="checkbox" /></td>
                                        </tr>
                                        <% }) %>
                </tbody>
            </table>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="/js/put.js"></script>
</body>

</html>